<div class="container">
  <div class="jumbotron">
      <form #frm="ngForm" (ngSubmit)="AddUser(frm)">
          <div class="form-group">
            <label for="Name">
             Name:
            </label>
            <input type="text" name="name" class="form-control" ngModel required pattern="^[a-zA-Z]+$" #userName="ngModel">
          </div>
          <div *ngIf="userName.invalid && (userName.dirty || userName.touched)" class="alert alert-danger">
              <div *ngIf="userName.errors.required">
                  Name is required.
                </div>
                <div *ngIf="userName.errors.pattern">
                    Name is invalid.
                  </div>
          </div>
          <div  class="form-group">
              <label for="Contact">
                  Contact:
              </label>
              <input type="text" name="Contact" class="form-control" ngModel required #usercontact="ngModel">
            </div>
            <div *ngIf="usercontact.invalid && (usercontact.dirty || usercontact.touched)" class="alert alert-danger">
                <div *ngIf="usercontact.errors.required">
                    Contact is required.
                  </div>
            </div>
            <div class="form-group">
                <label for="Email">
                    Email:
                </label>
                <input type="email" name="email" class="form-control" ngModel required #userEmail="ngModel">
              </div>
              <div *ngIf="userEmail.invalid && (userEmail.dirty || userEmail.touched)" class="alert alert-danger">
                  <div *ngIf="userEmail.errors.required">
                      Email is required.
                    </div>
              </div>
              <button type="submit" class="btn btn-success" [disabled]="frm.invalid">Add User</button>
              <button type="submit" class="btn btn-success" (click)="getsaveddata()">Get Save Data</button>
        </form>
  </div>
</div>
Saved data::{{gotdata}}
{{frm.value | json}}
<table class="table">
  <thead>
    <tr>
      <td>Name</td>
      <td>Contact</td>
      <td>Email</td>
    </tr>
  </thead>
  <tr *ngFor="let userdetail of userList">
    <td>{{userdetail.name}}</td>
    <td>{{userdetail.Contact}}</td>
    <td>{{userdetail.email}}</td>
  </tr>
  </table>