
        <div class="d-flex justify-content-center col-md-12 register-container">
        <section class="col-md-6 no-padding">
                <div class="form-heading">Reset Password</div>
        
                    <div id="BasicDetails"  class="container ">
                       
                        <div class="row">
                           
                            <div class="form-bottom col-md-12 col align-self-center">
                                  
                               
                                <div class="form-group row">
                                    <label class="col-md-4">Current Password</label>
                                    <div class="col-md-8">
                                    <input type="test"  placeholder="Current Password" class="form-last-name form-control form-field">
                                </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-4">New Password</label>
                                    <div class="col-md-8">
                                    <input type="test"  placeholder="New Password" class="form-last-name form-control form-field">
                                </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-4">Re Enter Password</label>
                                    <div class="col-md-8">
                                    <input type="test"  placeholder="Re Enter Password" class="form-last-name form-control form-field">
                                </div>
                                </div>
                                <p class="font-13 mt-4"><strong>Please Note: </strong>Password should consist of atlest one number and one alphabet and should be atleast and should be atleast 8 characters long</p>
                                <div class="col-md-12 text-center">
                                <button type="submit" class="btn btn-sm btn-primary text-center mr-3">Reset </button>
                                <button type="submit" class="btn btn-sm btn-success text-center">Submit</button>

                              </div>
                            </div>
                           
                        </div>
                    </div>
                  </section>
                </div>
          
     