
<!--<div class="list-group">
  <a [routerLink]="['../OnboardingRequest']" class="list-group-item list-group-item-action">paytm</a>
  <a [routerLink]="['../OnboardingRequest']" class="list-group-item list-group-item-action">Movie Qucik</a>
  <a [routerLink]="['../OnboardingRequest']" class="list-group-item list-group-item-action">Free Charge</a>
</div>-->


<div class="wrapper row-offcanvas row-offcanvas-left">
 
    <!-- Right side column. Contains the navbar and content of the page -->
    <aside >
        <section class="content-header pad-lr10 pt-4 pb-2 mb-3 dept-header">

                <div class="col-12 col-md-12 mar-b5">
                    <div class="search__container">
      
                        <input class="search__input" type="text" placeholder="Search">
                    </div>

            </div>
           


        </section>
        <div class="col-12 col-md-12 row">
            <div class="col-md-6 inbox-heading">
              Inbox
            </div>
            <div class="col-md-6 text-right font-16">
              Showing 1 to 7 <span><i class="fa fa-sort font-20 ml-3" aria-hidden="true"></i></span>
             </div>

       </div>
        <section class="mt-3">
        <div class="inbox-table">
      <table class="table">
       
          <thead>
              <tr>
           
            <th>From <i class="fa fa-sort font-20 ml-2" aria-hidden="true"></i></th>
            <th>Subject</th>
            <th>Date & Time <i class="fa fa-sort font-20 ml-2" aria-hidden="true"></i></th>
          </tr>
          </thead>
          <tr [routerLink]="['../OnboardingRequest']">
           
            <td>Mohan</td>
            <td>Vendor 1: Onboarding Request from Vendor 1</td>
            <td>11 May 2019</td>
          </tr>
          <tr>
            
              <td>Rahul</td>
              <td>Vendor 1: Onboarding Request from Vendor 1</td>
              <td>11 May 2019</td>
            </tr>
            <tr>
                
                <td>Ravi</td>
                <td>Vendor 1: Onboarding Request from Vendor 1</td>
                <td>11 May 2019</td>
              </tr>
        
      </table>
    </div>
  </section>

</aside>
<div class="container text-center  mt-3 mb-3">
    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4"> <button type="button" class="btn btn-danger btn-sm">Cancel</button>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4"> <button type="button" class="btn btn-primary btn-sm">Reset
                All Apps</button> </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4"> <button type="button" class="btn btn-success btn-sm">Assign
                Apps</button> </div>
    </div>
</div>
</div>