<!--The content below is only a placeholder and can be replaced.-->
<!-- <div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1> -->
 <!-- <app-first-component></app-first-component>  -->
 <!-- <app-directive-example></app-directive-example> -->
 <app-first-component></app-first-component>
<div class="container">
  <div class="row">
    <ul class="nav">
       <li class="nav-link active"><a routerLink="/">SignUp</a></li>
     <li class="nav-link active"><a routerLink="/home">Home</a></li>
     <li class="nav-link active"><a routerLink="/blog">Blog</a></li>
     <li class="nav-link active"><a routerLink="/about">About</a></li>
     <li class="nav-link active"><a routerLink="/form">Forms</a></li>
     <li class="nav-link active"><a routerLink="/Reactive">Reactive Forms</a></li>
     <li class="nav-link active"><a routerLink="/List">Listng</a></li>
    </ul>
    </div>
  </div>
  <div class="">
    <router-outlet></router-outlet>
  </div>
