<form #frm="ngForm" (ngSubmit)="addNewItem(frm)">
    <div class="">
        <input type="text" name="itemName" value="" ngModel>
        <button type="submit" name="button" class="btn btn-primary">Add Item</button>
       
    </div>
</form>

<button type="button" class="btn btn-primary" (click)="getitemsfromServiceclass()">view list</button>
<ul class="list-group">
    <li *ngFor='let item of itemReceived' class="list-group-item">
        {{item}}
        <button type="submit" (click)="deleteItem(item)">Delete</button>
  </li>
</ul>
