﻿
<html>
<head>
    <meta charset="UTF-8">
    <title>
        API Manager
    </title>
    <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
    <link href="./../../../assets/css/style.css" rel="stylesheet" type="text/css" />
    <link rel="shortcut icon" href="./../../../assets/images/umang_logo.png" />
</head>
<body class="skin-black">
    <!-- header logo: style can be found in header.less -->
    <header class="header">
            <a href="index.html" class="logo">
              <img src="./../../../assets/images/umang_logo.png" style="width:40px; height:58px;">
           API Manager
            </a>
            <!-- Header Navbar -->
            <nav class="navbar navbar-static-top" role="navigation">
                <!-- Sidebar toggle button-->
                <a href="#" class="navbar-btn sidebar-toggle" data-toggle="offcanvas" role="button">
                        <nav class="breadcrumb">
                                <a class="breadcrumb-item" href="#"><i class="fa fa-home font-22" aria-hidden="true"></i></a>
                                <a class="breadcrumb-item" href="#">Page 1</a>
                                <a class="breadcrumb-item" href="#">Page 2</a>
                                <span class="breadcrumb-item active">Current Page</span>
                              </nav>
                </a>
                <div class="navbar-right">
                    <ul class="nav navbar-nav">
    
                        <li class="dropdown user user-menu">
                            <a href="#" class="" data-toggle="dropdown">
                                
                                <span class="mar-r5">Admin</span>
                                <i class="fa fa-sign-out" aria-hidden="true"></i>
                            </a>
    
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
    </body>
</html>