.alert
{
    padding: 5px 10px;
    background: none;
    border: 0px;
    font-size: 13px;
    margin-bottom: 0px;
}

.ok-icon {
	border:1px solid transparent;
	background-color: transparent;
	display: inline-block;
	vertical-align: middle;
   outline: 0;
   cursor: pointer;

   position: absolute;
   height: 35px;
   top: 2px;
   right: 0px;
   }
   .close-icon {
	border:1px solid transparent;
	background-color: transparent;
	display: inline-block;
	vertical-align: middle;
   outline: 0;
   cursor: pointer;

   position: absolute;
   height: 35px;
   top: 2px;
   right: 0px;
   }