<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Forget Password</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
      <form [formGroup]="forgetPasswordForm" (ngSubmit)="forgetPasswordForm.valid && submitFrom()">

       <!-- <div class="input-group">
          <input id="dateOfBirth" class="form-control" placeholder="yyyy-mm-dd" name="dp" ngbDatepicker #dp="ngbDatepicker">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary calendar" (click)="dp.toggle()" type="button"></button>
          </div>
        </div>-->

        <div class="form-group relative">
          <label class="sr-only" for="form-first-name">Email id</label>
          <input type="text" formControlName="email" placeholder="Email address" [ngClass]="(forgetPasswordForm.controls['email'].errors)?'closeicon-button form-control invalid-data':'okicon-button form-control invalid-data'"
              maxlength="30">

          <button *ngIf="(forgetPasswordForm.controls['email'].errors &&  (forgetPasswordForm.controls['email'].touched||forgetPasswordForm.controls['email'].dirty))"
              class="close-icon" type="reset"></button>
          <button *ngIf="(!forgetPasswordForm.controls['email'].errors &&  (forgetPasswordForm.controls['email'].touched||forgetPasswordForm.controls['email'].dirty))"
              class="ok-icon" type="reset"></button>

          <div class="alert alert-danger" *ngIf="forgetPasswordForm.controls['email'].errors?.required   &&  (forgetPasswordForm.controls['email'].touched||forgetPasswordForm.controls['email'].dirty)">Please
              enter email Id</div>
          <div class="alert alert-danger" *ngIf="forgetPasswordForm.controls['email'].errors?.minlength  &&(forgetPasswordForm.controls['email'].touched||forgetPasswordForm.controls['email'].dirty)">
              Email id can't less than 4 digit</div>
          <div class="alert alert-danger" *ngIf="forgetPasswordForm.controls['email'].errors?.email  && (forgetPasswordForm.controls['email'].touched||forgetPasswordForm.controls['email'].dirty)">Please
              enter valid email id</div>
          <div class="alert alert-danger" *ngIf="forgetPasswordForm.controls['email'].errors?.invalidDomain  && (forgetPasswordForm.controls['email'].touched||forgetPasswordForm.controls['email'].dirty)">
              (only '.com' & '.in' domian is allowed )</div>

      </div>
     
    </form>
  </div>
  <div class="modal-footer pt-0">
   <!-- <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>
  -->
  <button type="button"class="btn btn-danger pad-tb5" (click)="modal.dismiss('Cross click')">cancel</button>
  <button type="button"class="btn btn-success pad-tb5" (click)="save()">Save</button>

</div>
</ng-template>

<a  (click)="open(content)" class="pointer">Forgot Password</a>



<pre>{{closeResult}}</pre>