<html>
<head>
    <meta charset="UTF-8">
    <title>
        API Manager
    </title>
    <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
    <link href="./../../../assets/css/style.css" rel="stylesheet" type="text/css" />
    <link rel="shortcut icon" href="./../../../assets/images/umang_logo.png" />
</head>
<body class="skin-black">
  <div class="wrapper row-offcanvas row-offcanvas-left">
 
    <!-- Right side column. Contains the navbar and content of the page -->
    <aside >

        <section class="content-header  pt-2 dept-header">

            <div class="">
                <div class="col-8 col-md-8 mar-b5">
                    <h6 class="mt-2 mb-2">
                       Manage APIs for PayTM
                    </h6>

                    <!-- search form -->
                    <form action="#" method="get" class="sidebar-form">
                        <div class="input-group">
                            <input type="text"   placeholder="Search.." class="form-control"  />
                            <span class="input-group-btn">
                                <button type='submit' name='seach' id='search-btn' class="btn btn-info "><i class="fa fa-search"></i></button>
                            </span>
                        </div>
                    </form>
                    <!-- /.search form -->
                </div>
               
            </div>


        </section>

        <!-- Main content -->
        <section class="content pt-1">
            <!-- Small boxes (Stat box) -->
            <div class="api-data table-responsive">
            <div class="row border-bottom list-header ">
              <div class="col-sm-3  font-16 pl-4">Application/Services</div>
              <div class="col-sm-3  font-16">Status</div>
              <div class="col-sm-3 text-center font-16">Staging API</div>
              <div class="col-sm-3 text-center font-16">Production API</div>
                
                </div><!-- ./col -->
                <div class="data-list">
                <div class="row mt-1 list-data">
                  <div class="col-sm-3 pl-4 "><strong><i class="fa fa-minus-square-o" aria-hidden="true"></i> &nbsp; CBSE</strong></div>
                  <div class="col-sm-3 ">Assigned: 3.5 Services</div>
                  <div class="col-sm-3 text-center">
                      <div class="checkbox checkbox-info checkbox-circle">
                          <input id="checkbox1" class="styled" type="checkbox" >
                          <label for="checkbox1">
                           
                          </label>
                      </div>
                </div>
                  <div class="col-sm-3 text-center ">
                      <div class="checkbox checkbox-info checkbox-circle">
                          <input id="checkbox2" class="styled" type="checkbox" checked>
                          <label for="checkbox2">
                          
                          </label>
                         
                      </div>
                  </div>
                 
                    </div><!-- ./col -->

                    <div class="row mt-1 list-data">
                        <div class="col-sm-3  pl-5">10th Results </div>
                        <div class="col-sm-3 "></div>
                        <div class="col-sm-3 text-center">
                            <div class="checkbox checkbox-info checkbox-circle">
                                <input id="checkbox3" class="styled" type="checkbox" checked>
                                <label for="checkbox3">
                                 
                                </label>
                            </div>
                      </div>
                        <div class="col-sm-3 text-center">
                            <div class="checkbox checkbox-info checkbox-circle">
                                <input id="checkbox4" class="styled" type="checkbox" >
                                <label for="checkbox4">
                                 
                                </label>
                               
                            </div>
                        </div>
                       
                          </div><!-- ./col -->
                          <div class="row mt-1 list-data">
                              <div class="col-sm-3  pl-5">12th Results </div>
                              <div class="col-sm-3 "></div>
                              <div class="col-sm-3 text-center">
                                  <div class="checkbox checkbox-info checkbox-circle">
                                      <input id="checkbox3" class="styled" type="checkbox" checked>
                                      <label for="checkbox3">
                                       
                                      </label>
                                  </div>
                            </div>
                              <div class="col-sm-3 text-center">
                                  <div class="checkbox checkbox-info checkbox-circle">
                                      <input id="checkbox4" class="styled" type="checkbox" >
                                      <label for="checkbox4">
                                       
                                      </label>
                                     
                                  </div>
                              </div>
                             
                                </div><!-- ./col -->

               
                                <div class="row mt-1 list-data">
                                    <div class="col-sm-3 pl-4"><strong><i class="fa fa-plus-square-o" aria-hidden="true"></i> &nbsp; KVS</strong></div>
                                    <div class="col-sm-3 ">Assigned: 3.5 Services</div>
                                    <div class="col-sm-3 text-center ">
                                        <div class="checkbox checkbox-info checkbox-circle">
                                            <input id="checkbox1" class="styled" type="checkbox" >
                                            <label for="checkbox1">
                                             
                                            </label>
                                        </div>
                                  </div>
                                    <div class="col-sm-3 text-center">
                                        <div class="checkbox checkbox-info checkbox-circle">
                                            <input id="checkbox2" class="styled" type="checkbox" checked>
                                            <label for="checkbox2">
                                            
                                            </label>
                                           
                                        </div>
                                    </div>
                                   
                                      </div><!-- ./col -->


                                    
                                    </div>
                                </div>
                                    <div class="row text-center mt-3">
                                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4"> <button type="button" class="btn btn-danger btn-sm">Cancel</button> </div>
                                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4"> <button type="button" class="btn btn-primary btn-sm">Reset All Apps</button> </div>
                                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4"> <button type="button" class="btn btn-success btn-sm">Assign Apps</button> </div>
                                      </div>

        </section><!-- /.content -->
    </aside><!-- /.right-side ends -->
</div><!-- ./wrapper -->


</body>
</html>
